@tailwind base;
@tailwind components;
@tailwind utilities;





* {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}





/* Add this to your CSS */
.nav-link {
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}

.nav-link:hover {
  background-color: rgb(220,252,231);
  box-shadow: 0px 10px 15px rgb(22,101,52); /* Adjust the shadow color and size as needed */
}

.nav-text {
  position: absolute;
  left: 100%;
  top: 50%;
  padding-left: 6px;
  transform: translate(10px, -50%);
  white-space: nowrap;
  opacity: 0;
  font-size: 16px; /* Adjust font size */
  color: rgb(87,83,79); /* Text color */
  transition: opacity 0.3s ease, transform 0.3s ease;
  text-shadow: 0 0 10px rgba(22, 101, 52);
}

.nav-link:hover .nav-text {
  opacity: 1;
  transform: translate(0, -50%);
}




